:root {
    --foreground-color: #24292e;
    --background-color: #f6f8fa;
    --border-color: #d1d5da;
}
@media (prefers-color-scheme: dark) {
    :root {
        --foreground-color: #c9d1d9;
        --background-color: #0d1117;
        --border-color: #30363d;
    }
}

#page-ctn {
  margin: 0 auto;
  max-width: 900px;
  color: var(--foreground-color);
}

#page-header {
  padding: 8px;
  background-color: var(--background-color);
  border-color: var(--border-color);
  border-style: solid;
  border-width: 1px 1px 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

#page-header svg {
  display: inline-block;
  margin-right: 5px;
  overflow: hidden;
  fill: currentColor;
}

#page-header h3 {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 16px;
  font-size: 14px;
  font-weight: 600;
}

